/*common styles for all DOM elements */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* common body styles and adding fonts */
@font-face {
    font-family: 'Proxima';
    src: url('../public/fonts/ProximaNova-RegularIt.woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Proxima';
    src: url('../public/fonts/ProximaNova-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: 'Proxima';
    src: url('../public/fonts/ProximaNova-Semibold.woff');
    font-weight: 600;
}
body{
    background-color: white;
}

/* header styles */
.header{
    font-family: 'Proxima';
    background-image: url('../public/images/headerBackgroundImage.svg');
    background-position: center;
    background-size: cover;
    padding-bottom: 75px;
    background-repeat: no-repeat;
    
    
}
.header_navigationWrapper{
    padding: 30px 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_navigationWrapper_nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Proxima';
    font-weight: 700;
    cursor: pointer;
    margin-right: 28px;
}
.header_navigationWrapper_nav a:hover{
    transition: 0.2s;
    text-decoration: solid underline #FF8B00 3px;
}
.header_navigationWrapper_nav a:last-child{
    margin-right: 0px;
}
.header_offerSlider_text_title{
    font-weight: 700;
    font-family: 'Proxima';
    font-size: 55px;
    color: white;
}
.header_offerSlider_text_subtitle{
    font-weight: 600;
    font-size: 16px;
    margin-top: 15px;
    font-family: 'Proxima';
    line-height: 30px;
    color: white;
    width: 500px;
}
.header_offerSlider_text_button{
    background-color: #FF8B00;
    outline: none;
    border: none;
    font-family: 'Proxima';
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 17px;
    margin-top: 50px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
.header_offerSlider_text_button:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.header_offerSlider{
    padding: 70px 270px 40px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 250px;
}

.header_smoothScrolling{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_smoothScrolling_text{
    color: white;
    font-family: 'Proxima';
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.header_smoothScrolling_button{
    background: none;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
.header_smoothScrolling_button:hover{
    opacity: 0.3;
    transition: 0.5s;
}
/* nums section style */
.offerNums{
    font-family: 'Proxima';
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 130px;
}
.offerNums_elem{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7050E5;
    margin-right: 100px;
}
.offerNums_elem:last-child{
    margin-right: 0px;
}
.offerNums_elem_num{
    font-family: 'Proxima';
    font-size: 50px;
    font-weight: 700;
    
}
.offerNums_elem_text{
    font-family: 'Proxima';
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
/* what we do section style*/

.whatWeDo{
    font-family: 'Proxima';
    background-color: #F8F8F8;
    padding-bottom: 120px;
    padding-top: 145px;
}
.whatWeDo_innerWrapper{
    width: 1000px;
    margin: 0 auto;
}
.whatWeDo_title{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 68px;
}
.whatWeDo_title_text{
    color: #7050E5;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Proxima';
    margin-top: 20px;
    padding-right: 40px;
}
.whatWeDo_title_angel{
    width: 35px;
    position: absolute;
}
.whatWeDo_optionsList{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}
.whatWeDo_optionsList_element{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 72px;
}

.whatWeDo_optionsList_element_image{
    width: 140px;
    margin-left: 50px;
}
.whatWeDo_optionsList_element_title{
    color: #7050E5;
    font-size: 18px;
    width: 270px;
    font-family: 'Proxima';
    text-transform: uppercase;
    margin-top: 28px;
    margin-bottom: 8px;
    font-weight: 700;
}
.whatWeDo_optionsList_element_subtitle{
    color: #878787;
    width: 280px;
    font-family: 'Proxima';
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
/* video section styles*/
.videoInfo{
    justify-content: center;
    padding: 100px 0px;
    background-color: white;
    display: flex;
    align-items: center;
}
.videoInfo_textBlock{
    margin-right: 124px;
}
.videoInfo_textBlock_title{
    color: #7050E5;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: 'Proxima';
}
.videoInfo_textBlock_subtitle{
    font-size: 16px;
    margin-bottom: 38px;
    color: #878787;
    font-weight: 400;
    font-family: 'Proxima';
    width: 500px;
}
.videoInfo_textBlock_button{
    color: white;
    background-color: #FF8B00;
    border: none;
    border-radius: 5px;
    font-family: 'Proxima';
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 40px;
}

