/*common styles for all DOM elements */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* common body styles and adding fonts */
@font-face {
    font-family: 'Proxima';
    src: url('../public/fonts/ProximaNova-RegularIt.woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Proxima';
    src: url('../public/fonts/ProximaNova-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: 'Proxima';
    src: url('../public/fonts/ProximaNova-Semibold.woff');
    font-weight: 600;
}
@font-face {
    font-family: 'Raleway';
    src: url('../public/fonts/Raleway-Medium.woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Raleway';
    src: url('../public/fonts/Raleway-ExtraLight.woff');
    font-weight: 200;
}
body{
    background-color: white;
}

/* header styles */
.header{
    font-family: 'Proxima';
    background-image: url('../public/images/headerBackgroundImage.svg');
    background-position: center;
    background-size: cover;
    padding-bottom: 75px;
    background-repeat: no-repeat;
    
    
}
.header_navigationWrapper{
    padding: 30px 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_navigationWrapper_nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Proxima';
    font-weight: 700;
    cursor: pointer;
    margin-right: 28px;
}
.header_navigationWrapper_nav a:hover{
    transition: 0.2s;
    text-decoration: solid underline #FF8B00 3px;
}
.header_navigationWrapper_nav a:last-child{
    margin-right: 0px;
}
.header_offerSlider_text_title{
    font-weight: 700;
    font-family: 'Proxima';
    font-size: 55px;
    color: white;
}
.header_offerSlider_text_subtitle{
    font-weight: 600;
    font-size: 16px;
    margin-top: 15px;
    font-family: 'Proxima';
    line-height: 30px;
    color: white;
    width: 500px;
}
.header_offerSlider_text_button{
    background-color: #FF8B00;
    outline: none;
    border: none;
    font-family: 'Proxima';
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 17px;
    margin-top: 50px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
.header_offerSlider_text_button:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.header_offerSlider{
    padding: 70px 270px 40px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 250px;
}

.header_smoothScrolling{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_smoothScrolling_text{
    color: white;
    font-family: 'Proxima';
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.header_smoothScrolling_button{
    background: none;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
.header_smoothScrolling_button:hover{
    opacity: 0.3;
    transition: 0.5s;
}
/* nums section style */
.offerNums{
    font-family: 'Proxima';
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 130px;
}
.offerNums_elem{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7050E5;
    margin-right: 100px;
}
.offerNums_elem:last-child{
    margin-right: 0px;
}
.offerNums_elem_num{
    font-family: 'Proxima';
    font-size: 50px;
    font-weight: 700;
    
}
.offerNums_elem_text{
    font-family: 'Proxima';
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
/* what we do section style*/

.whatWeDo{
    font-family: 'Proxima';
    background-color: #F8F8F8;
    padding-bottom: 120px;
    padding-top: 145px;
}
.whatWeDo_innerWrapper{
    width: 1000px;
    margin: 0 auto;
}
.whatWeDo_title{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 68px;
}
.whatWeDo_title_text{
    color: #7050E5;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Proxima';
    margin-top: 20px;
    padding-right: 40px;
}
.whatWeDo_title_angel{
    width: 35px;
    position: absolute;
}
.whatWeDo_optionsList{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}
.whatWeDo_optionsList_element{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 72px;
}

.whatWeDo_optionsList_element_image{
    width: 140px;
    margin-left: 50px;
}
.whatWeDo_optionsList_element_title{
    color: #7050E5;
    font-size: 18px;
    width: 270px;
    font-family: 'Proxima';
    text-transform: uppercase;
    margin-top: 28px;
    margin-bottom: 8px;
    font-weight: 700;
}
.whatWeDo_optionsList_element_subtitle{
    color: #878787;
    width: 280px;
    font-family: 'Proxima';
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
/* video section styles*/
.videoInfo{
    justify-content: center;
    padding: 100px 0px;
    background-color: white;
    display: flex;
    align-items: center;
}
.videoInfo_textBlock{
    margin-right: 124px;
}
.videoInfo_videoBlock{
    
}
.videoInfo_videoBlock video{
    width: 720px;
    z-index: -1;
    height: 444px;
    
}

.videoInfo_videoBlock_overlay{
    background-color: gray;
    width: 720px;
    height: 444px;
    position: absolute;
    z-index: 2;
}
.videoInfo_videoBlock_overlay:hover{
    opacity: 0;
    transition: 0.3s;
}
.videoInfo_textBlock_title{
    color: #7050E5;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: 'Proxima';
}
.videoInfo_textBlock_subtitle{
    font-size: 16px;
    margin-bottom: 38px;
    color: #878787;
    font-weight: 400;
    font-family: 'Proxima';
    width: 500px;
}
.videoInfo_textBlock_button{
    color: white;
    background-color: #FF8B00;
    border: none;
    border-radius: 5px;
    font-family: 'Proxima';
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 40px;
}
.videoInfo_textBlock_button:hover{
    opacity: 0.5;
    transition: 0.5s;
}


/* action user form styles */
.actionForm{
    background-color: #232323;
    padding: 200px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 100px;

}
.actionForm_textBlock_title{
    color: white;
    font-family: 'Proxima';
    font-size: 55px;
    font-weight: 700;
}
.actionForm_formBlock_title{
    color: white;
    font-size: 28px;
    font-family: 'Proxima';
    font-weight: 700;
    margin-bottom: 28px;
}
.actionForm_formBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.actionForm_formBlock_formContainer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 650px;

}

.actionForm_formBlock_formContainer_bothNames{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    position: relative;
    width: 100%;
}
.actionForm_formBlock_formContainer_bothNames_firstNameContainer{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}
.actionForm_formBlock_formContainer_bothNames_lastNameContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}
.actionForm_formBlock_formContainer_email{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 28px;
}
.actionForm_formBlock_formContainer_userMessage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}
.actionForm_formBlock_formContainer_userMessage textarea{
    height: 100px;
    font-size: 15px;
    font-weight: 200;
    font-family: 'Raleway';
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 15px 0px 10px 15px;
    resize: none;
}
.actionForm_formBlock_formContainer_errorInputField{
    border: 2px solid red !important;
}
.actionForm_formBlock_formContainer_succesInputField{
    border: 2px solid green !important;
}
.actionForm_modalWindow{
    position: fixed;
    top: 40px;
    background-color: #363636;
    padding: 20px 40px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: none;
}
.actionForm_modalWindow_text{
    color: white;
    font-family: 'Proxima';
    font-weight: 600;
    font-size: 19px;
}
.actionForm_modalWindow_progressBar{
    height: 3px;
    z-index: 2;
    left: 0;
    width: 100%;
    bottom: 0px;
    background-color: #05C168;
    position: absolute;
    
}


.actionForm_formBlock_formContainer_sendButton{
    margin-top: 32px;
}
.actionForm_formBlock_formContainer_sendButton button{
    background-color: #FF8B00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Proxima';
    text-transform: uppercase;
    padding: 20px 80px;
}
.actionForm_formBlock_formContainer_sendButton button:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.actionForm_formBlock_formContainer label{
    color: white;
    font-size: 14px;
    font-family: 'Proxima';
    font-weight: 600;
    margin-bottom: 8px;
}
.actionForm_formBlock_formContainer_email{
    position: relative;
    width: 100%;
}
.actionForm_formBlock_formContainer input::placeholder{
    font-size: 15px;
    font-family: 'Raleway';
    font-weight: 200;
    color: black;
}
.actionForm_formBlock_formContainer input{
    font-size: 15px;
    font-weight: 200;
    font-family: 'Raleway';
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 15px 0px 15px 15px;
}

/* footer section styles */
.footer{
    background-color: #363636;
    padding: 56px 0px 80px 340px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.footer_twitterApi{
    margin-right: 120px;
}
.footer_navigationWrapper{
    display: flex;
    flex-direction: column;
    margin-right: 130px;
}
.footer_navigationWrapper:last-child{
    margin-right: 0px;
}
.footer_navigationWrapper_links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.footer_navigationWrapper_links a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Proxima';
    margin-bottom: 10px;
}
.footer_navigationWrapper_links p{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Proxima';
    margin-bottom: 10px;
}
.footer_navigationWrapper_links a:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.footer_navigationWrapper_links a:last-child{
    margin-bottom: 0px;
}
.footer_navigationWrapper_title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.footer_navigationWrapper_title p{
    margin-left: 10px;
    color: #FF8B00;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Proxima';
}
.footer_logoIcon{
    position: relative;
    top: 250px;
    margin-left: 50px;
}

/* under footer license section style */

.underFooterLicense{
    background-color: #252525;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.underFooterLicense p{
    color: white;
    font-family: 'Raleway';
    font-size: 11px;
    font-weight: 200;
    text-transform: uppercase;
}
.underFooterLicense img{
    padding: 0px 5px;
}
