/*common styles for all DOM elements */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* common body styles and adding fonts */
@font-face {
    font-family: 'Proxima';
    src: url('../../public/fonts/ProximaNova-RegularIt.woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Proxima';
    src: url('../../public/fonts/ProximaNova-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: 'Proxima';
    src: url('../../public/fonts/ProximaNova-Semibold.woff');
    font-weight: 600;
}
@font-face {
    font-family: 'Raleway';
    src: url('../../public/fonts/Raleway-Medium.woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Raleway';
    src: url('../../public/fonts/Raleway-ExtraLight.woff');
    font-weight: 200;
}
body{
    background-color: white;
}

/* header styles */
.header{
    font-family: 'Proxima';
    background-image: url('../../public/images/headerBackgroundImage.svg');
    background-position: bottom;
    background-size: cover;
    padding-bottom: 50px;
    background-repeat: no-repeat;
}
.header_navigationWrapper{
    padding: 20px 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_navigationWrapper_hamburgerNav{
    cursor: pointer;
    display: none;
}
.header_navigationWrapper_hamburgerNav:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.header_navigationWrapper_additionalMobileMenu{
    position: fixed;
    display: none;
    align-items: flex-start;
    background-color: #363636;
    right: 10px;
    top: 10px;
    flex-direction: column;
    z-index: 999;
    padding: 30px 45px 20px 25px;
}
.header_navigationWrapper_additionalMobileMenu a{
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Proxima';
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 20px;
}
.header_navigationWrapper_additionalMobileMenu a:hover{
    transition: 0.2s;
    text-decoration: solid underline #FF8B00 3px;
}
.header_navigationWrapper_additionalMobileMenu button{
    border: 0px;
    background: none;
    cursor: pointer;
    margin-bottom: 30px;
}
.header_navigationWrapper_additionalMobileMenu button:hover{
    opacity: 0.2;
    transition: 0.5s;
}
.header_navigationWrapper_additionalMenuOverlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    left: 0;
    top: 0;
    z-index: 3;
    display: none;  
    opacity: 0.2;
    background-color: #f4f0f0;
}

.header_navigationWrapper_nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Proxima';
    font-weight: 700;
    cursor: pointer;
    margin-right: 28px;
}
.header_navigationWrapper_nav a:hover{
    transition: 0.2s;
    text-decoration: solid underline #FF8B00 3px;
}
.header_navigationWrapper_nav a:last-child{
    margin-right: 0px;
}
.header_offerSlideElement_text{
    margin-right: 220px;
}
.header_offerSlideElement_text_title{
    font-weight: 700;
    font-family: 'Proxima';
    font-size: 55px;
    color: white;
}
.header_offerSlideElement_text_subtitle{
    font-weight: 600;
    font-size: 16px;
    margin-top: 15px;
    font-family: 'Proxima';
    line-height: 30px;
    color: white;
    width: 500px;
}
.header_offerSlider{
    position: relative;
    width: 870px;
    overflow: hidden;
    margin-left: 200px;
    display: flex;
    
    align-items: center;
}
.header_offerSlider_sliderLine{
    position: relative;
    display: flex;
}
.header_offerSlider_slider{
    position: absolute;
    z-index: 4;
    top: 300px;
    right: 54px;
    display: flex;
    flex-direction: column;
}
.header_offerSlider_slider_elem{
    cursor: pointer;
    margin-bottom: 13px;
}
.header_offerSlider_slider_elem:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.header_offerSlider_slider_elem:last-child{
    margin-bottom: 0px;
}
.header_offerSlideElement_text_button{
    background-color: #FF8B00;
    outline: none;
    border: none;
    font-family: 'Proxima';
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 17px;
    margin-top: 50px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
.header_offerSlideElement_text_button:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.header_offerSlideElement{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
}

.header_smoothScrolling{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_smoothScrolling_text{
    color: white;
    font-family: 'Proxima';
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.header_smoothScrolling_button{
    background: none;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
.header_smoothScrolling_button:hover{
    opacity: 0.3;
    transition: 0.5s;
}
/* nums section style */
.offerNums{
    font-family: 'Proxima';
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 130px;
}
.offerNums_elem{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7050E5;
    margin-right: 100px;
}
.offerNums_elem:last-child{
    margin-right: 0px;
}
.offerNums_elem_num{
    font-family: 'Proxima';
    font-size: 50px;
    font-weight: 700;
    
}
.offerNums_elem_text{
    font-family: 'Proxima';
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
/* what we do section style*/

.whatWeDo{
    font-family: 'Proxima';
    background-color: #F8F8F8;
    padding-bottom: 120px;
    padding-top: 145px;
}
.whatWeDo_innerWrapper{
    width: 1000px;
    margin: 0 auto;
}
.whatWeDo_title{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 68px;
    position: relative;
}
.whatWeDo_title_text{
    color: #7050E5;
    font-size: 60px;
    font-weight: 700;
    position: relative;
    font-family: 'Proxima';
    margin-top: 20px;
    padding-right: 40px;
}
.whatWeDo_title_angel{
    width: 35px;
    position: absolute;

}
.whatWeDo_optionsList{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}
.whatWeDo_optionsList_element{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 72px;
}
.whatWeDo_optionsList_element_image{
    width: 140px;
    margin-left: 50px;
}
.whatWeDo_optionsList_element_title{
    color: #7050E5;
    font-size: 18px;
    width: 270px;
    font-family: 'Proxima';
    text-transform: uppercase;
    margin-top: 28px;
    margin-bottom: 8px;
    font-weight: 700;
}
.whatWeDo_optionsList_element_subtitle{
    color: #878787;
    width: 280px;
    font-family: 'Proxima';
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
/* video section styles*/
.videoInfo{
    justify-content: center;
    padding: 100px 0px;
    background-color: white;
    display: flex;
    align-items: center;
}
.videoInfo_textBlock{
    margin-right: 124px;
}
.videoInfo_videoBlock{
    width: 720px;
    height: 444px;
}

.videoInfo_textBlock_title{
    color: #7050E5;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: 'Proxima';
}
.videoInfo_textBlock_subtitle{
    font-size: 16px;
    margin-bottom: 38px;
    color: #878787;
    font-weight: 400;
    font-family: 'Proxima';
    width: 500px;
}
.videoInfo_textBlock_button{
    color: white;
    background-color: #FF8B00;
    border: none;
    border-radius: 5px;
    font-family: 'Proxima';
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 40px;
}
.videoInfo_textBlock_button:hover{
    opacity: 0.5;
    transition: 0.5s;
}


/* action user form styles */
.actionForm{
    position: relative;
    background-color: #232323;
    padding: 200px 0px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 100px;

}
.actionForm_topFadeCircle{
    width: 900px;
    position: absolute;
    left: -200px;
    top: -150px;
    transform: rotate(210deg);
    height: 750px;
    z-index: 1;
    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.3;
    filter: blur(100px);
    border-radius: 373.431px;
}
.actionForm_bottomFadeCircle{
    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.3;
    filter: blur(250px);
    border-radius: 236.048px;
    transform: rotate(5.78deg);
    position: absolute;
    height: 470px;
    width: 470px;
    z-index: -1;
    bottom: -150px;
    margin-left: 150px;
}
.actionForm_textBlock_title{
    color: white;
    font-family: 'Proxima';
    font-size: 55px;
    font-weight: 700;
}
.actionForm_textBlock{
    z-index: 2;
}
.actionForm_formBlock_title{
    color: white;
    font-size: 28px;
    font-family: 'Proxima';
    font-weight: 700;
    margin-bottom: 28px;
}
.actionForm_formBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 2;
}
.actionForm_formBlock_formContainer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 650px;

}

.actionForm_formBlock_formContainer_bothNames{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    position: relative;
    width: 100%;
}
.actionForm_formBlock_formContainer_bothNames_firstNameContainer{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}
.actionForm_formBlock_formContainer_bothNames_lastNameContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}
.actionForm_formBlock_formContainer_email{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 28px;
}
.actionForm_formBlock_formContainer_userMessage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}
.actionForm_formBlock_formContainer_userMessage textarea{
    height: 100px;
    font-size: 15px;
    font-weight: 200;
    font-family: 'Raleway';
    border-radius: 5px;
    outline: none;
    border: 1px solid #D2D6DA;
    padding: 15px 0px 10px 15px;
    resize: none;
}
.actionForm_formBlock_formContainer_errorInputField{
    border: 2px solid red !important;
}
.actionForm_formBlock_formContainer_succesInputField{
    border: 2px solid green !important;
}
.actionForm_modalWindow{
    position: fixed;
    top: 50%;
    background-color: #363636;
    padding: 20px 40px;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -500%);
    border-radius: 5px;
    display: none;
}
.actionForm_modalWindow_text{
    color: white;
    font-family: 'Proxima';
    font-weight: 600;
    font-size: 19px;
}
.actionForm_modalWindow_progressBar{
    height: 3px;
    z-index: 2;
    left: 0;
    width: 100%;
    bottom: 0px;
    background-color: #05C168;
    position: absolute;
    
}


.actionForm_formBlock_formContainer_sendButton{
    margin-top: 32px;
}
.actionForm_formBlock_formContainer_sendButton button{
    background-color: #FF8B00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Proxima';
    text-transform: uppercase;
    padding: 20px 80px;
}
.actionForm_formBlock_formContainer_sendButton button:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.actionForm_formBlock_formContainer label{
    color: white;
    font-size: 14px;
    font-family: 'Proxima';
    font-weight: 600;
    margin-bottom: 8px;
}
.actionForm_formBlock_formContainer_email{
    position: relative;
    width: 100%;
}
.actionForm_formBlock_formContainer input::placeholder{
    font-size: 15px;
    font-family: 'Raleway';
    font-weight: 200;
    color: black;
}
.actionForm_formBlock_formContainer input{
    font-size: 15px;
    font-weight: 200;
    font-family: 'Raleway';
    border-radius: 5px;
    outline: none;
    border: 2px solid #D2D6DA;
    padding: 15px 0px 15px 15px;
}

/* footer section styles */
.footer{
    background-color: #363636;
    padding: 56px 0px 80px 150px;
    display: flex;
    align-items: flex-start;
    position: relative;
    justify-content: center;
}
.footer_twitterApi{
    margin-right: 120px;
}
.footer_navigationWrapper{
    display: flex;
    flex-direction: column;
    margin-right: 130px;
}
.footer_linksContainer{
    display: flex;
}
.footer_navigationWrapper:last-child{
    margin-right: 0px;
}
.footer_navigationWrapper_links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer_navigationWrapper_links a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Proxima';
    margin-bottom: 10px;
}
.footer_navigationWrapper_links p{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Proxima';
    margin-bottom: 10px;
}
.footer_navigationWrapper_links a:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.footer_navigationWrapper_links a:last-child{
    margin-bottom: 0px;
}
.footer_navigationWrapper_title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.footer_navigationWrapper_title p{
    margin-left: 10px;
    color: #FF8B00;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Proxima';
}
.footer_logoIcon{
    position: absolute;
    right: 50px;
    bottom: 30px;
}
.footer_twitterFeed{
    width: 320px;
    margin-right: 100px;
}
.footer_twitterFeed_header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    position: relative;
    width: 100%;
}
.footer_twitterFeed_header_logo{
    background-color: #5634D1;
    padding: 11px;
    position: relative;
    height: 100%;
}
.footer_twitterFeed_header_info{
    position: relative;
    width: 100%;
    background-color: #7050E5;
    height: 100%;
    padding: 7px 0px 11px 16px;
}
.footer_twitterFeed_header_info_hashtag{
    font-family: 'Proxima';
    font-size: 22px;
    font-weight: 600;
    color: white;
}
.footer_twitterFeed_header_info_twitterFeed{
    font-family: 'Proxima';
    color: white;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    line-height: 18px;
}
.footer_twitterFeed_body{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.footer_twitterFeed_body_twitt{
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 16px;
}
.footer_twitterFeed_body_twitt:last-child{
    margin-bottom: 20px;
}
.footer_twitterFeed_body_twitt_twittName{
    color: #999999;
    font-family: 'Proxima';
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
}
.footer_twitterFeed_body_twitt_href{
    color: #7050E5;
    font-family: 'Proxima';
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
}
.footer_twitterFeed_body_twitt_date{
    color: #555555;
    font-family: 'Proxima';
    font-size: 12px;
    font-weight: 600;
}
/* under footer license section style */

.underFooterLicense{
    background-color: #252525;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.underFooterLicense p{
    color: white;
    font-family: 'Raleway';
    font-size: 11px;
    font-weight: 200;
    text-transform: uppercase;
}
.underFooterLicense img{
    padding: 0px 5px;
}


/* adaptive */
@media (max-width: 1600px) {
    
}
@media (max-width: 1500px) {
    .footer_navigationWrapper{
        margin-right: 60px;
    }
    .footer{
        padding: 56px 0px 80px 100px;
    }
    .header_offerSlideElement{
        margin-bottom: 100px;
    }
    
}
@media (max-width: 1400px) {
    .header_offerSlider{
        margin-left: 100px;
    }
}
@media (max-width: 1300px) {
    .actionForm{
        flex-direction: column;
        align-items: center;
    }
    .actionForm_textBlock_title{
        padding-right: 300px;
        margin-bottom: 100px;
    }
    .actionForm_bottomFadeCircle{
        right: 0px;
    }
    .header_navigationWrapper{
        padding: 30px 100px;
    }
    
}
@media (max-width: 1200px) {
    .whatWeDo_innerWrapper{
        width: 600px;
    }
    .offerNums{
        flex-direction: column;
        
    }
    .offerNums_elem{
        margin-right: 0px;
        margin-bottom: 68px;
    }
    .offerNums_elem:last-child{
        margin-bottom: 0px;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        padding: 0px 0px 170px 0px;
    }
    .footer_twitterFeed{
        margin-right: 0px;
    }
    .footer_navigationWrapper{
        margin-right: 0px;
        align-items: flex-start
    }
    .footer_navigationWrapper:nth-child(1){
        margin-right: 30px;
    }
    .footer_navigationWrapper:nth-child(3){
        margin-top: 48px;
        align-items: center;
    }
    
    .footer_linksContainer{
        width: 320px;
        flex-wrap: wrap;   
        align-items: flex-start;
        display: flex;
        justify-content: center;
    }
    .footer_twitterFeed{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .footer_logoIcon{
        transform: translate(-5%, -50%);
        left: 50%;
        right: 0px;
        bottom: 0px;
    }
    .underFooterLicense{
        padding: 30px 0px;
    }
}
@media (max-width: 1072px) {
    .header_offerSlider_slider{
       
    }
    .header_offerSlideElement_image{
        margin: 0px;
    }
   .header_offerSlideElement{
        margin-top: 50px;
        flex-direction: column-reverse;
        align-items: flex-start;
        
   }
   .header_offerSlider{
        width: 500px;
        margin-bottom: 50px;
   }
}
@media (max-width: 990px) {
    .header_offerSlideElement_image{
        margin: 0 auto 40px 20px;
    }
    .header_offerSlideElement{
        margin-bottom: 50px;
    }
}
@media (max-width: 740px) {
    .videoInfo_videoBlock source{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .videoInfo_videoBlock{
        width: 300px;
        height: 250px;
    }
    .videoInfo_textBlock_title{
        font-size: 24px;
    }
    
    .videoInfo_textBlock_subtitle{
        margin-bottom: 0px;
        width: 300px;
        padding-bottom: 0px;
        font-size: 15px;
    }
    .videoInfo_textBlock_button{
        margin: 15px 0px !important;
    }
    .videoInfo_textBlock{
        justify-content: center;
    }
    .actionForm_formBlock_formContainer_bothNames{
        flex-direction: column;
    }
    .actionForm_formBlock_formContainer_bothNames_firstNameContainer{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .actionForm_formBlock_formContainer{
        width: 300px;
    }
    .whatWeDo_title{
        margin-right: 20px;
    }
    .actionForm_textBlock_title{
        padding-right: 75px;
        font-size: 35px;
    }
    .actionForm_formBlock_formContainer_sendButton{
        width: 200px;
        margin: 30px auto;
    }
    .whatWeDo_title_text{
        font-size: 32px;
        
    }
    .whatWeDo_optionsList_element{
        margin-left: 20px;
    }
    .whatWeDo_optionsList_element_image{
        width: 90px;
        margin-left: 70px;
    }
    .whatWeDo_optionsList_element_title{
        font-size: 16px;
        width: 240px;
    }
    .whatWeDo_optionsList_element_subtitle{
        font-size: 14px;
        width: 250px;
    }
    .whatWeDo_innerWrapper{
        width: 300px;
    }
    .whatWeDo_optionsList{
        justify-content: center;
    }
    .footer_twitterFeed{
        width: 300px;
    }
    .whatWeDo_optionsList_element:last-child{
        margin-bottom: 0px;
    }
    .header_offerSlideElement_text_title{
        font-size: 32px;
        width: 214px;
    }
    .header_offerSlideElement_text_subtitle{
        font-size: 14px;
        line-height: 17px;
        width: 300px;
    }
    .header_offerSlideElement_image img{
        width: 100px;
    }
    .offerNums_elem_num{
        font-size: 38px;
    }
    .offerNums_elem_text{
        font-size: 14px;
    }
    .header_navigationWrapper{
        padding: 20px 50px;
        margin-bottom: 70px;
    }
    .header_navigationWrapper_logo img{
        width: 40px;
    }
    .header_offerSlideElemet{
        padding: 0px 0px 0px 50px;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 70px;
    }
    .footer_logoIcon{
        transform: translate(-10%, -50%);
    }
    .header_offerSlider{
        margin-left: 50px;
        width: 400px;
    }
}
@media (max-width: 500px) {
    .underFooterLicense p{
        font-size: 7px;
    }
    .underFooterLicense img{
        width: 15px;
        
    }
    .footer_logoIcon{
        transform: translate(-20%, -50%);
    }
    .actionForm_modalWindow{
        bottom: 0;
        transform: translate(-50%, -0);
        top: unset;
        width: 100%;
        border-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 40px 0px;
    }
    .actionForm_modalWindow_text{
        text-align: center;
        text-transform: uppercase;
    }
    .actionForm_modalWindow_progressBar{
        height: 5px;
    }
    .actionForm_bottomFadeCircle{
        display: none;
    }
    .header_offerSlider{
        margin-left: 50px;
        width: 300px;
        padding-left: 0px ;
    }
    .header_offerSlider_slider{
        top: 200px;
    }  
    .header_offerSlider{
        margin-left: 20px;
        width: 220px;
    } 
    
}
@media (max-width: 370px) {
    .header_navigationWrapper{
        padding: 20px;
    }
    .header_offerSlider{
        
    }
    .header_offerSlideElement_text_subtitle{
        width: 220px;
    }
    .header_offerSlider_slider{
        display: none;
    }
}